<h1><%= @list.name %></h1>
<% if @list.photo.attached? %>
  <%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
<% else %>
<%= image_tag "film.jpg" %>
<% end %>
<h2>Movies:</h2>
<ul>
  <% @bookmarks.each do |bookmark| %>
  <li>
    <%= bookmark.comment %> | <%= Movie.find(bookmark.movie_id).title %>
    <br>
    <%= Movie.find(bookmark.movie_id).overview %>
    <br>

    <img src="<%= "#{@base_url}#{Movie.find(bookmark.movie_id).poster_url}" %>" alt="">
    <br>
    <%= link_to "Remove movie", bookmark_path(bookmark), method: :delete %>
  </li>
  <br>
  <% end %>
</ul>

<%= link_to "Back to lists", lists_path %>
<%= link_to "Delete list", list_path(@list), method: :delete %>
<%= link_to "Add movie", new_list_bookmark_path(@list) %>
