<h1>Select movie</h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie %>
  <%= f.input :comment %>
  <%= f.button :submit , class: "btn btn-success" %>
<% end %>

<%= link_to "Back to list", list_path(@list) %>
